/* small */
/* @media screen and (min-width:576px) { */
@media screen {
    
    .sm-25{
        width: 25%;
    }
     .sm-33{
        width: 33.3333%;
    }
     .sm-50{
        width: 50%;
    }
     .sm-100{
        width: 100%;
        margin-block: 20px;
    }
    .sm-hidden{
        display: none;
    }
    
}
/* medium */
@media screen and (min-width:768px) {
    .md-25{
        width: 25%;
    }
     .md-33{
        width: 33.3333%;
    }
     .md-50{
        width: 50%;
    }
     .md-100{
        width: 100%;
    }

    
}
/* large */
@media screen and (min-width:992px) {
    .lg-25{
        width: 25%;
    }
     .lg-50{
        width: 50%;
    }
     .lg-100{
        width: 100%;
      
    }
    .lg-30{
        width: 30%;
    }
    
  .lg-40{
        width: 40%;
    }
      .lg-65{
        width: 65%;
    }
         .lg-35{
        width: 35%;
    }
           .lg-70{
        width: 70%;
    }
    .lg-display{
        display: block;
    }
    
}
/* x-large */
@media screen and (min-width:1200px) {
    .xl-25{
        width: 25%;
    }
     .xl-33{
        width: 33.3333%;
    }
     .xl-50{
        width: 50%;
    }
     .xl-100{
        width: 100%;
    }

    
}